@import "materialize.min.css";


* {
   font-family: 'Roboto', sans-serif !important;
   font-size: 1.2em;
}


.custom-container-nav {
   position: absolute;
   left: -7px;
   top: 12px;
   min-width: 100vw;
}
