<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<div class="container custom-container-nav">
    <nav>
        <div class="nav-wrapper" style="background-color: dodgerblue">
            <a href="#" class="brand-logo center">Todo1 Challenge</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a routerLink="/persona">Personas</a></li>
                    <li><a routerLink="/producto">Productos</a></li>
                    <li><a routerLink="/kardexin">Entradas</a></li>
                    <li><a routerLink="/kardexout">Salidas</a></li>
            </ul>
        </div>
    </nav>
</div>